/* Estilo general para la página */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}
.tiempo {
  position: absolute;
  top: 5%;
  left: 80%;
  color: white;
  font-size: 5vh;
  z-index: 1;
}
.puntos {
  position: absolute;
  top: 5%;
  left: 5%;
  color: white;
  font-size: 5vh;
  z-index: 1;
}

.countdown-container {
  position: absolute; /* Mantener el contenedor relativo */
  top: 6%;
  left: 4%;
  width: 20%;
  height: 5%;
  border: 2px solid #007BFF;
  border-radius: 5px;
  overflow: hidden;
}

.countdown-bar {
  position: absolute; /* Cambiar a posición absoluta */
  height: 100%;
  width: 100%;
  background-color: #007BFF;
  transition: width 1s linear;
}

.countdown-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vh;
  color: white;
}
#verificarBtn {
  position: absolute;
  top: 12%;
  left: 45%;
  z-index: 10;

  background: linear-gradient(to bottom, #67c5d4, #688e90);
  border: 3px solid #ffff;
  border-radius: 25px;
  color: white;
  font-size: 4vh;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
}

#verificarBtn:hover {
  background: linear-gradient(to bottom, #688e90, #67c5d4);
  transform: translateY(-3px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
}

#contenedor-secuInt {
  display: flex;
  flex-direction: column;
  
  
  vertical-align: middle;
  /* margin-top: 15vh; */
   margin: 0 auto;
  width: 70%;
}
.textoArrastrar {
  top: 1%;
  position: absolute;
  text-align: left;
  font-family: Comic Sans MS;
  font-weight: bold;
  font-size: 4.6vh;
  color: #e3d8ed;
  text-shadow: -1px 0 #414d68, 0 1px #414d68, 1px 0 #414d68, 0 -1px #414d68,
    -2px 2px 0 #414d68, 2px 2px 0 #414d68, 1px 1px #414d68, 2px 2px #414d68,
    3px 3px #414d68, 4px 4px #414d68, 5px 5px #414d68, 6px 6px #414d68,
    7px 7px #414d68;
}
.contenedor-estante{
  position: relative;
  width: 100%; /* La imagen ocupará el 100% del contenedor padre */
   /* Limitar el tamaño máximo en pantallas grandes */
  height: auto;
  margin: 0 auto;
  margin-top: 15vh;
}

.estanteImg{
  width: 100%; /* Imagen que se escala responsivamente */
  height: auto;
}
.contenedor-libros {
  position: absolute;
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: vh;
  justify-content: center;
  align-items: center;
  top: 10%;
  left: 9%;
}

.libro {

  width: 7%;
  height: auto;
  cursor: grab;
}

.libro.seleccionado {
  transform: scale(1.1) rotate(-2deg);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  cursor: grabbing;
  /* opacity: 0; */
}
.libro.fantasma {
  opacity: 0;
}
.libro.drag {
  opacity: 0;
  cursor: grabbing;
}

@keyframes aparecerDesdeIzquierda {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
#contenedor-secuInt {
  animation: aparecerDesdeIzquierda 1s ease-out forwards;
}

.libro.inicio {
  animation: aparecerDesdeIzquierda 1s ease-out forwards;
}
.bien{
  border: 2px solid #33ff00;
}
.mal{
  border: 2px solid #ff0000;
}

@media (max-height: 450px) {
  
  #contenedor-secuInt {
    width: 70%;
    margin: 0 auto;
    margin-top: 25vh;
  }
  
}

/* Estilos juego objetos
*
*
*
*
*
*/

