body{
    background: radial-gradient(#7472e9, #502481); 
    height: 100vh;
    font-family: cursive;
}
.imagenInicio {
    display: block;
    margin: 0 auto;
}
.boton-jugar{
    background-color: #502481;
    display: block;
    margin: 0 auto;
    height: 60px;
    width: 110px;
    font-size: 30px;
    font-family: cursive;
    justify-content: center;
}
.apartado-iconos{
    width: 50px;
    height: auto;
    margin: 5px;
    position: absolute;
}
.iconos{
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}
.nombre{
    font-family: cursive;
    font-size: 25px;
    margin-top: 8px;
    color: aliceblue;
}
.iconos:hover{
    transform: scale(1.2);
}
.zoom{
    transition: transform 0.3s;
}
.zoom:hover{
    transform: scale(1.2);
}
.color{
    background-color: #502481;
}
.ajustes{
    width: 800px;
    font-family: cursive;
    color: aliceblue;
}

/* Ordenar */
.contenedor-inicial{
    border-radius: 20px;
    background-color: beige;
    height: 120px;
    width: 500px;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
}
.contenedor-final{
    border-radius: 20px;
    background-color: beige;
    height: 120px;
    width: 500px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

