#armarNave .modal-content  {
  border-radius: 40px;
  background-image: url('../img/fondo2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
}

.holis{
  
  display: flex;
  
  align-items: center;
  flex-direction: column;
}
.titulo-nave{
  
  font-size: 5vh;
  margin: 0 auto;
  color: #ffff;
  background: linear-gradient(135deg, #000020, #001a4d);
  border: 4px solid #ffff;
  border-radius: 20px;
  padding: 0.2rem 0.5rem;
}
.contenedor-armar img {
  display: flex;
  width: 30vw;
  height: auto;
  margin: 0 auto;
}

.contenedor-nave {
  display: flex;
  justify-content: center;
  
}
.cuadro {
  margin: 5px;
  width: 15vh;
  height: auto;
}
#verificar {
  font-size: 3vh;
  background: linear-gradient(135deg, #000020, #001a4d); /* Degradado verde */
  
  border: none;
  border-radius: 20px; /* Bordes redondeados */
  color: white; /* Color del texto */
  font-family: Arial, sans-serif; /* Fuente del texto */
  font-weight: bold; /* Texto en negrita */
  padding: 5px 5px; /* Espaciado interno del botón */
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra */
  cursor: pointer;

  
  
}
#verificar:hover {
    background: linear-gradient(to bottom, #001a4d, #000020); /* Invertir degradado al hacer hover */
}

.mal{
  border: 3px solid #ff0000;
  border-radius: 20px;
}