

.nave {
  /* background: none; */
  display: block;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 183, 255,0.2);
  border-radius: 20px;
  text-align: center;
  
  /* margin-top: 10vh; */
}

.holis {

  
display: flex;
  align-items: center;
  flex-direction: column;
}

.titulo-nave {
  display: inline-block;
  font-size: 3vh;
  color: #ffffff;
  background: linear-gradient(135deg, #000020, #001a4d);
  border: 4px solid #ffffff;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  text-shadow: 3px 3px 8px rgba(95, 230, 237, 0.8);
  letter-spacing: 0.1rem;
  transition: color 0.3s ease, text-shadow 0.3s ease;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  
}

.titulo-nave:hover {
  color: #ffffff;
  text-shadow: 5px 5px 15px rgb(46, 255, 252);

}

#tiempo {
  top: 5%;
  right: 5%;
  background: linear-gradient(to bottom, rgba(135, 206, 235, 0.8), rgba(30, 144, 255, 0.9));
  font-family: 'Arial', sans-serif;
  font-size: 5vh;
  position: absolute;
  color: #ffffff;
  
  overflow: hidden;
  padding: 0.3rem 1rem;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  
}

#tiempo::before {
  content: "⏱";
  
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5), transparent);
  animation: shine 2s ease-in-out infinite;
  
}
@media(max-height:456px){
  #tiempo{
    padding: 0.1rem 0.5rem;
  }
}

.contenedor-armar img {
  display: flex;
  width: 30vw;
  height: auto;
  margin: 0 auto;
  filter: drop-shadow(0px 0px 10px #5fe6ed);
}

.contenedor-nave {
  display: flex;
  justify-content: center;

}

.cuadro {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 1rem 0rem;
  width: 17vh;
  border-radius: 20px;
  background-color: #4a90e2;  /* Fondo azul claro */
  border: 3px solid #1c3d5a;  /* Borde azul oscuro */
  color: #ffffff;             /* Texto blanco para buen contraste */
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Sombra sutil */
}


#verificar {
  font-size: 3vh;
  color: #ffffff;
  background: linear-gradient(135deg, #000020, #001a4d);
  border: 3px solid #ffffff;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  text-shadow: 3px 3px 8px rgba(95, 230, 237, 0.8);
  letter-spacing: 0.1rem;
  transition: color 0.3s ease, text-shadow 0.3s ease;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

#verificar:hover {
  background: linear-gradient(to bottom, #001a4d, #000020);
  color: #ffffff;
  text-shadow: 5px 5px 15px rgb(46, 255, 252);
}

.mal {
  border: 3px solid #ff0000;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #ff0000;
}
.bien{
  border: 3px solid #5fe6ed;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #5fe6ed;
}
.cuadro.seleccionado{
  transform: transform 0.5s;
  transform: scale(1.1);

}
@media (max-width: 946px) {
  .cuadro {
    width: 26vh;  
    padding: 1.5rem 0rem;                /* Aumenta el ancho en pantallas pequeñas */
    font-size: 1em;               /* Reduce ligeramente el tamaño de la fuente */
    padding: 10px;                /* Agrega un poco de padding para dar espacio al texto */
    border-radius: 15px;          /* Redondea un poco más las esquinas */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Reduce la sombra */
  }
} 

/* Animación Verificación  */
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Estilo para el desenfoque */
.blur {
  filter: blur(5px);
}

/* Toast personalizado */
.toast-container {
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  max-width: 600px; /* Limita el ancho para que no sea demasiado grande */
  text-align: center;
}

.toast {
  background-color: #0004ff !important;
  color: #ffcc00;
  font-family: 'Press Start 2P', cursive; /* Fuente tipo videojuego */
  box-shadow: 0 0 15px rgba(255, 204, 0, 0.8);
}