 /* Cambiar la opacidad del backdrop del modal */
 .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.1);
    /* Cambia 0.5 por el nivel de opacidad deseado (0.0 a 1.0) */
  }

  .modal-content {
    transform: translateY(-50px);
    /* Comienza más arriba */
    transition: transform 0.5s ease;
    /* Transición suave */
  }

  /* Clase activa para el rebote hacia abajo */
  .modal.show .modal-content {
    animation: bounce 0.5s forwards;
    /* Aplica la animación de rebote */
  }

  /* Animación de rebote */
  @keyframes bounce {
    0% {
      transform: translateY(-50px);
      /* Comienza más arriba */
    }

    50% {
      transform: translateY(20px);
      /* Rebota hacia abajo */
    }

    100% {
      transform: translateY(0);
      /* Regresa a su posición original */
    }
  }
  .modal-content{
    background-color: #f5deb280;
    box-shadow: 0 0 20px #02112c;
    color: white;
    font-size: 4vh;
    font-family: monospace;
    text-shadow: 0 0 1px #000;
  }
  .btn.aceptar{
    width: 30%;
    margin-top: 10%;
  }
  .modalRedirigir{
    box-shadow: 0 0 20px #000, 0 0 10px #bae0f7;
    background-color: #02112cbc;
  outline: 2px solid #bae0f7;
    
  }
  .boton_aceptar {
    display: flex;
    justify-content: center;
    align-items: center; /* Agregado para centrar también verticalmente */
    width: 100%; /* Ocupa todo el ancho del contenedor */
    margin-top: 1rem; /* Opcional, agrega espacio arriba del botón si lo deseas */
}

.boton_aceptar button {
    width: 20vh;
    border-radius: 2vh;
    background-color: blueviolet;
    border: 2px solid #02112c;
    box-shadow: 0 0 10px #9c50ff;
}
.boton_aceptar button:hover{
  background-color: #8250ff;
  border-color: #9c50ff;
}
.resources-bar {
  display: flex;
  position: absolute; 
  top: 10px; 
  right: 0;
  z-index: 10; 
  width: 100vh;
}
.resources-group {
  display: flex;
  /* align-items: center; */
  margin-bottom: 5px; /* Espaciado entre grupos */
  /* right: 0 !important; */
  height: 7vh;
  width: 50vh;

}
.resource{
  width: 500px;
}
.count{
  font-size: 3.5vh !important;
}
.ronda-container {
  width: 50vh;
}

.ronda {
  font-size: 6vh;
  color: #6340ff;
  /* Color llamativo */
  opacity: 0;
  /* Invisible inicialmente */
  animation: aparecer 1s forwards, atencion 2s 1s forwards infinite;
  text-align: right;
  margin-right: 10px;
  /* justify-content: right; */
  text-shadow: 0 0 1px #000, 0 0 5px #5fb3e1;
}
@keyframes aparecer {
  0% {
    top: -100px;
    opacity: 0;
  }

  100% {
    top: 0%;
    /* Cambia según la posición deseada */
    opacity: 1;
  }
}
@keyframes atencion {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(-10px);
  }

  40% {
    transform: translateY(-18px);
    /* Salto hacia arriba */
  }

  60% {
    transform: translateY(-15px);
    /* Salto hacia abajo */
  }
}