/* Líneas animadas */
.linea {
    position: absolute;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 50%;
}

.linea-izquierda {
    bottom: 0;
    bottom: 5px;
}

.linea-derecha {
    right: 0;
    top: 5px;
}

.circulo {
    width: 20px;
    height: 20px;
    background-color: #99dfd5;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    box-shadow: 0 0 30px #fff, 0 0 10px #65c9bc;
}

.circulo-izquierda {
    animation: mover-mitad-izquierda 3s ease-in-out infinite;
}

.circulo-derecha {
    animation: mover-mitad-derecha 3s ease-in-out infinite;
}

@keyframes mover-mitad-izquierda {
    0% {
        left: 0;
        transform: scale(1);
        /* Tamaño inicial normal */
    }

    50% {
        left: 100%;
        transform: scale(0.3);
    }

    100% {
        left: 0;
        transform: scale(1);
    }
}

@keyframes mover-mitad-derecha {
    0% {
        left: 100%;
        transform: scale(1);
    }

    50% {
        left: 0;
        transform: scale(0.3);
    }

    100% {
        left: 100%;
        transform: scale(1);
    }
}

.linea-izquierda::before,
.linea-derecha::before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: #65c9bc;
    width: 0%;
    transition: width 1.5s;
}

.linea-izquierda::before {
    left: 0;
    animation: iluminar-linea-izquierda 3s ease-in-out infinite;
}

.linea-derecha::before {
    right: 0;
    animation: iluminar-linea-derecha 3s ease-in-out infinite;
}

@keyframes iluminar-linea-izquierda {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@keyframes iluminar-linea-derecha {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}


/* Círculos de colores */
.circle {
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    display: inline-block;
    opacity: 0;
    margin-left: 1%;
    box-shadow: 0 0 20px #000, 0 0 10px #fff;
}
.green-circle {
    background-color: rgb(72, 255, 72);
    animation: blinkGreen 4s infinite;
    box-shadow: 1px, 1px, 40px #fff, 0 0 30px #00ff15;
}
.red-circle {
    background-color: rgb(255, 87, 87);
    animation: blinkGreen 4s infinite;
    animation-delay: 1s;
    /* El rojo se ilumina 1 segundo después */
    box-shadow: 0 0 40px #fff, 0 0 30px #ff0303;

}
.blue-circle {
    background-color: rgb(76, 76, 255);
    animation: blinkGreen 4s infinite;
    animation-delay: 2s;
    /* El azul se ilumina 2 segundos después */
    box-shadow: 0 0 40px #fff, 0 0 30px #001aff;

}
@keyframes blinkGreen {

    0%,
    100% {
        opacity: 0;
    }

    10%,
    30% {
        opacity: 1;
    }
}
.circuloos {
    display: flex;
    justify-content: center;
    padding-top: 2%;
}
.loguito{
    transition: transform 0.3s;
    animation: pulse 2s infinite;
}

@keyframes pulse {

0% {
    transform: scale(1);
}

50% {
    transform: scale(1.1);
}

100% {
    transform: scale(1);
}
}