.carouselG {
    width: 200px;
    height: 200px;
    perspective: 1000px; /* Añade profundidad 3D */
    position: relative;
    margin: 0 auto;
    right: 10vh;
  }
  .carousel-innerG {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: spin 10s infinite linear; /* Rotación más lenta */
  }
  .carousel-itemG {
    position: absolute;
    width: 7vw;
    height: 7vw;
    align-items: center;
    border-radius: 10px;
    left: calc(50% - 40px); /* Centrar horizontalmente */
    top: calc(50% - 40px); /* Centrar verticalmente */
  }
  /* Posiciones en círculo */
  .carousel-itemG:nth-child(1) { transform: rotateY(0deg) translateZ(8vw); }
  .carousel-itemG:nth-child(2) { transform: rotateY(60deg) translateZ(8vw);  }
  .carousel-itemG:nth-child(3) { transform: rotateY(120deg) translateZ(8vw);  }
  .carousel-itemG:nth-child(4) { transform: rotateY(180deg) translateZ(8vw);  width: 12vh;height: auto;}
  .carousel-itemG:nth-child(5) { transform: rotateY(240deg) translateZ(8vw);  width: 10vh;height: auto;}
  .carousel-itemG:nth-child(6) { transform: rotateY(300deg) translateZ(8vw); width: 12vh;height: auto; }
  
  /* Animación: Rotación fija */
  @keyframes spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }