.carta{
    height: 121px;
    width: 121px;
    cursor: pointer; 
    transition: transform 0.6s;
    transform-style: preserve-3d;
    margin: 3px;
    position: relative; 
    
    
}
.carta.volteada {
    transform: rotateY(180deg);
}
.frente {
    z-index: 2;
    transform: rotateY(0deg);
}

.reverso {
    transform: rotateY(180deg);
}
.carta:nth-child(5), .carta:nth-child(0) {
     margin-right: 121px;
     margin-left: 1px;
    
}
.cara {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.central {
    margin-left: -10px;
    margin-top: 60px;
    height: 121px;
    width: 121px;
    
    position:fixed; /* Se ubica en el centro absoluto del contenedor */
    top: 50%; /* Mover hacia el centro vertical */
    left: 50%; /* Mover hacia el centro horizontal */
    transform: translate(-50%, -50%); /* Ajustar la posición al centro exacto */
    z-index: 10; /* Asegura que esté por encima de otras cartas */
}
.contenedor{
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    margin: auto;
    margin-top: -70px; 
}
.imagen{
    height: 121px;   
    width: 121px;
  
    border-radius: 6px;
}
.imagen2{
    height: 121px;   
    width: 121px;
    
    border-radius: 6px;
}
.Titulo{
    text-align: center;
    color: blue;
    font-size: 36px;
}





@media (max-width: 1200px) {
    .carta {
        height: 90px;
        width: 90px;
        margin: 2px;
    }

    .central {
        height: 90px;
        width: 90px;
        margin-top: 40px;
    }

    .contenedor {
        width: 300px;
        margin-top: -50px;
    }

    .imagen, .imagen2 {
        height: 90px;
        width: 90px;
    }

    .Titulo {
        font-size: 28px;

    }


    .carta:nth-child(5), .carta:nth-child(0) {
        margin-right: 100px; /* Ajuste de margen para evitar desalineaciones */
        margin-left: 0;
    }
    

}

@media (max-width: 480px) {
    .carta {
        height: 80px; /* Ajusta el tamaño para adaptarse mejor a pantallas pequeñas */
        width: 80px;
        margin: 2px;
    }

    .central {
        height: 80px;
        width: 80px;
        position:fixed; 
        top: 47%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        z-index: 10; 
        
       
    }

    .contenedor {
        width: 260px;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .imagen, .imagen2 {
        height: 80px; 
        width: 80px;
        border-radius: 4px;
    }

    .Titulo {
        font-size: 28px; 
        margin-top: 10px; 
    }

    .carta:nth-child(5), .carta:nth-child(0) {
        margin-right: 90px; 
     
    }


    .botonesCartas{
        margin-top: 140px;
    }
}
