body{
    background-image: url('../img/fondos/fondonuevo.jpg');
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: cursive;
    overflow: hidden;
    padding: 1%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* slider Inicio */
.slider {
    width: 450px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: block;
}

.slides {
    padding: 0px;
    display: flex;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    width: 400;
}

.slide {
    width: 150; /* Cada slide ocupa un tercio del contenedor del slider */
    box-sizing: border-box;
    border-color: linear-gradient(blue, red);
    border-radius: 20px;
}

.slide img {
    width: 150px;
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    color: #442656;
    padding: 10px;
    cursor: pointer;
    font-size: 40px;
    background: none;
    margin-top: 6%;
}

.prev {
    left: 30%;
}

.next {
    right: 30%;
}
.slide:hover{
    background: #e1dcff;
}
.prev:hover, .next:hover {
    color: #000000;
}
.dots {
    text-align: center;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #442656;
}
/* fin slider */
#contenedor{
    display: flex;
    margin: 0 auto;
    height: 100vh;
    right: 0;
    justify-content: center;
    align-items: center;
}
/* .logo{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 40%;
    height: 100%;
} */
 #contenido{
    width: 100vh;
    height: auto;
 }
.logoInicio {
    display: flex;
    margin: 0 auto;
    width: 50%;
    height: auto;
}
.bienvenido {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.logoBienvenido{
    width: 100%;
    height: auto;
}
.oJuegos{
    width: 10%;
    height: auto;
    cursor: pointer;
}
h1{
    display: flex;
    justify-content: center;
}
.contenedorOpciones{
    display: flex;
    justify-content: center;
}
.textoEleccion{
    text-align: left; 
    font-family: Comic Sans MS; 
    font-weight:bold; 
    font-size: 140%; 
    color: #e3d8ed; 
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68, 6px 6px #414D68, 7px 7px #414D68;
}
.apartado-iconos{
    display: block;
    width: 4.6%;
    height: auto;
    margin: 0.5%;
    position: absolute;
}
.iconos{
    width: 100%;
    height: 100%;
    margin: 3%;
    cursor: pointer;
    transition: transform 0.3s;
}

.ajustes{
    font-family: cursive;
    color: aliceblue;
}
.card{
    text-align: center;
}
#centrar2{
    width: 3.5%;
    margin-left: 58%;
}
#centrar1{
    width: 5%;
    margin-top: 0.2%;
}
.centrar{
    margin: 0 auto;
    display: none;
    margin-left: 55%;
    margin-bottom: -2%;
    position: absolute;
}
.apartado-derecho{
    width: 15%;
    height: auto;
    right: 0%;
    position: absolute;
    margin: 1%;
}
.usuario{
    width: 30.67%;
    height: 100%;
    position: relative;
}
.nombre{
    font-family: cursive;
    font-size: 160%;
    margin-bottom: 0;
    color: white;
    text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000,
         0px   0px 5px rgba(0, 0, 0, 0.5); 
}
.iconos:hover{
    transform: scale(1.2);
}
.zoom{
    transition: transform 0.3s;
}
.zoom:hover{
    transform: scale(1.05);
}
.color{
    background-color: #704fa0;
    color: #fff;
}
.titulo-ayuda{
    justify-content: center;
    text-align: center;
}
.play{
    display: block;
    margin: 0 auto;
    width: 30%;
    cursor: pointer;
    margin-top: 1%;
}
/* Ordenar */
.contenedor-inicial{
    border-radius: 20px;
    background-color: beige;
    height: 120px;
    width: 500px;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
}
.contenedor-final{
    border-radius: 20px;
    background-color: beige;
    height: 120px;
    width: 500px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
/* Inicio estilos Perfil */
.perfil{
        font-size: 20px !important; /* Tamaño de la fuente */
        font-weight: bold; /* Texto en negrita */
        color: black; /* Color del texto */
        background-color: white; /* Fondo  */
        border: 2px solid #2E4372; /* Borde azul oscuro */
        border-radius: 20px; /* Esquinas redondeadas */
        padding: 10px 20px; /* Espaciado interno */
        text-align: center; /* Centra el texto*/
        /* margin-right: 145px; */
    
}
.fotoPerfil {
    border: 1px solid #000;
    width: 40%;
    height: 35%;
    border-radius: 50%;
    overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del círculo */
    margin: 0 auto;
}
.cosita{
    width: 40px;
    height: 40px;
    margin-left: 60%;
    margin-top: -5%;
    font-size: 22px;
    padding: 0%;
}
.cosita img{
    margin-left: -30%;
    margin-top: -30%;
}
/* Fin perfil */
/* Estilos generales para todos los dispositivos */
.robot {
    position: absolute;
    margin-right: -70%;
    bottom: 0;
    width: 28%;
  }
  
  .robot img {
    display: block;
    width: 50%;
    cursor: pointer;
    margin-left: 50%;
  }
  
  .speech-bubble {
    position: relative;
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 2%;
    width: 48%;
    height: auto;
    font-size: 78%;
    color: #333;
    text-align: center;
    margin: 10px;
    border: 1px solid;
    box-shadow: 12px 12px 15px #10111d;
    margin-left: 15%;
    padding-bottom: 5%;
  }
  
  .speech-bubble::after {
    content: '';
    position: absolute;
    left: 78%;
    bottom: -25px;
    transform: translateX(80px);
    transform: rotate(-38deg);
    border-width: 40px 18px 0;
    border-style: solid;
    border-color: #f0f0f0 transparent transparent transparent; /* Triángulo apuntando hacia abajo */
  }
  
  /* Media Queries para dispositivos móviles */
  @media (max-width: 800px) {
    .robot {
      /* right: -3%; Ajusta el margen derecho para pantallas pequeñas */
      bottom: 0;
      width: 25%; /* Aumenta el ancho del robot para mejor visibilidad */
    }
  
    .robot img {
      width: 80%; /* Ajusta el tamaño de la imagen dentro del contenedor del robot */
      margin-left: 10%; /* Reduce el margen izquierdo para centrar mejor la imagen */
    }
  
    .speech-bubble {
      width: 70%; /* Aumenta el ancho de la burbuja de diálogo para dispositivos móviles */
      font-size: 60%; /* Aumenta el tamaño de la fuente para mejor legibilidad */
      margin-left: -20%; /* Ajusta el margen izquierdo para centrado en pantallas más pequeñas */
      padding-bottom: 8%;
    }
  
    .speech-bubble::after {
      left: 80%; /* Ajusta la posición de la cola de la burbuja de diálogo */
      bottom: -20px;
      transform: translateX(50px);
      transform: rotate(-38deg);
      border-width: 40px 15px 0; /* Ajusta el tamaño de la cola para que se vea mejor en pantallas pequeñas */
    }
  }
  
  @media (max-width: 480px) {
    .robot {
      margin-right: -50%; /* Ajusta aún más el margen derecho para pantallas muy pequeñas */
      width: 30%; /* Reduce el ancho del robot para dispositivos muy pequeños */
      /* bottom: 0; */
    }
  
    .robot img {
      width: 120%; /* Haz que la imagen del robot ocupe todo el ancho del contenedor en pantallas muy pequeñas */
     /* Elimina el margen izquierdo para centrar la imagen */
    }
  
    .speech-bubble {
      width: 90%; /* Aumenta el ancho de la burbuja de diálogo para ocupar más espacio en la pantalla */
      font-size: 55%; /* Incrementa el tamaño de la fuente para una mejor legibilidad en pantallas pequeñas */
      margin-left: -20%; /* Centra la burbuja de diálogo */
      padding: 5%;
    }
  
    .speech-bubble::after {
      left: 20%; /* Ajusta la posición de la cola de la burbuja de diálogo */
      bottom: -15px;
      transform: translateX(50px);
      border-width: 20px 10px 0; /* Ajusta el tamaño de la cola */
    }
    .apartado-iconos{
        margin-top: 3%;
        /* margin-right: -10%; */
        width: 16%;
        height: auto;
    }
    .iconos{
        margin: 5%;
    }
    .iconos:hover{
        transform: none;
    }
    .apartado-derecho{
        /* margin-top: 5%; */
        width: 52.18%;
        height: auto;
        margin: 3%;
    }
    .logoInicio {
        width: 60%;
        height: auto;
    }
    .logoBienvenido{
        width: 300%;
        height: auto;
    }
    .oJuegos{
        width: 20%;
        height: auto;
    }
    .textoEleccion{
        font-family: Comic Sans MS; 
        font-weight:bold; 
        font-size: 140%; 
        color: #e3d8ed; 
        text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68, 6px 6px #414D68, 7px 7px #414D68;
    }
    .play{
        width: 50%;
    }
    .oJuegos.nivel{
        width: 25%;
        height: auto;
    }
  }
  
  .cerrarMensaje{
    text-align: right;
    margin-top: 0;
    margin-right: -90%;
  }
.unirse{
    width: 40%;
    border-radius: 8px;
    margin: 0 auto;
}
.unirse .play{
    width: 40%;
}

.tituloMapa{
    margin: auto;
}


.containerMapa {
    position: relative;
    width: 100%; /* Ocupa el ancho completo del contenedor padre */
    max-width: 450px; /* Ancho máximo para pantallas grandes */
    height: 300px;
    border: 1px solid #000;
    margin-bottom: 20px;
    border-radius: 20px;
    background-image: url('../img/fondos/loginDos.jpg');
    background-position: center;
    background-size: cover; /* Asegura que la imagen de fondo cubra el área */
}

.cuerpoMapa{
    background-color: #27ae60;  
    border-radius: 25px;
}

.recompensa {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    position: absolute;
}


.imagenMapa {
    width: 100%;
    height: auto; 
}


.primera { top: 120px; left: 10px; }
.segunda { top: 20px; left: 160px; }
.tercera { top: 90px; left: 310px; }
.cuarta { top: 193px; left: 180px; }
.quinta { top: 213px; left: 320px; }


.barra-containerMapa {
    position: absolute;
    top: 15px; 
    left: 0;
    width: 80%; /* Ajuste responsivo del ancho */
    max-width: 100px; /* Ancho máximo para pantallas grandes */
    height: 10px;
    background-color: #bdc3c7;
    border-radius: 5px;
    overflow: hidden;
}

.barra-progreso {
    height: 100%;
    width: 0; /* Inicialmente sin progreso */
    background-color: #27ae60;
    transition: width 0.4s ease;
}


@media (max-width: 767px) {
    .containerMapa {
        height: 250px; 
    }

    .recompensa {
        width: 40px;
        height: 40px;
    }


    .imagenMapa {
        width: 100%;
        height: auto;
    }

    .barra-containerMapa {
        width: 70%; 
        max-width: 80px; 
    }

    
    .primera { top: 100px; left: 5px; }
    .segunda { top: 15px; left: 140px; }
    .tercera { top: 70px; left: 270px; }
    .cuarta { top: 160px; left: 160px; }
    .quinta { top: 180px; left: 280px; }
}

