.start-zone, .dropzone {
    justify-content: center;
    align-items: center;
    padding: 1%;
    /* position: static; */
  }

  .over{
    transition: transform 1s; 
  }
  .draggable:active {
    cursor: grabbing; 
  }
  .dropzone{
    border: 2px solid #704fa0;
    display: inline-flex;
    width: 17vh;
    height: 17vh;
    background-color: #ffffff40;
    border-radius: 10%;
    margin: 2%;
  }
  .start-zone{
    width: auto;
    height: 25vh;
    padding: 1%;
    display: flex;
    justify-content:center;  
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;  
  }
  .draggable {
    width: 16vh;
    height: 16vh;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    margin: 3%;
    cursor: grab;
    border-radius: 10%;
    transition: transform 0.3s ease, background-color 0.3s ease; 
    box-shadow: 5px 5px 7px #000;

  }
  .draggable:hover{
    opacity: 0.78;
  }
  .dropzone.over {
    border-color: #ffffff;
    background-color: #ffffff7b;
  }
  
  .dropzones-container {
    display: flex;
    justify-content: center;
    width: 100vh;

  }
  .arrastrar{

    h1{
        font-size: 7vh;
    }
  } 
@media screen and (max-width: 480px){
  .arrastrar{

    h1{
        font-size: 3.2vh;
    }
  } 
  .dropzones-container{
    width: 80vw;
    /* height: auto; */
  }
  .dropzone{
    width: 8vh;
    height: 8vh;
  }
    .draggable{
      width: 6vh;
      height: 7vh;
    }
  .start-zone{
    width: 80vw;
    height: auto;
  }
}