body {
    background-image: url('../img/fondos/loginY.jpeg');
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: cursive;
    overflow: hidden;
    padding: 1%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos base (pantallas grandes) */
#imagen {
    position: relative;
    transition: transform 1s;
}
.contenido{
    display: flex;
    margin: 0 auto;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.logo {
    margin-right: 10%;
    width: 25%;
    height: auto;
}

.formularioLogin {
    display: flex;
    flex-direction: column;
    z-index: 2;
    background-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 150%;
    height: 100%;
}

.label {
    margin-top: -10vh;
    position: absolute;
    margin-left: 9vh;
    border-radius: 8px;
    background-color: #a7bce1;
    box-shadow: 4px 5px 4px #0000008c;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 38vh;
    height: 8vh;
    h2{
        font-size: 5vh;

    }
}

.label::before {
    content: "";
    position: absolute;
    height: 700%;
    width: 100%;
    background-image: conic-gradient(#3672ae 70deg, transparent 150deg);
    animation: rotar 2s linear infinite;
}

.label::after {
    content: "";
    position: absolute;
    height: 73%;
    width: 94%;
    background-color: #c9b0ff;
    border-radius: 8px;
}

.iniciarS .label::after {
    height: 42px;
}

@keyframes rotar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.noTienesCuenta {
    display: block;
    margin-top: 8%;
    font-size: 3.4vh;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.olvidarContraseña {
    margin-left: 14%;
    font-size: 3vh;
    color: #fff;
    cursor: pointer;
}

.olvidarContraseña:hover,
.noTienesCuenta:hover {
    text-decoration: underline;
}


button {
    padding: 5%;
    border: none;
    border-radius: 4px;
    background-color: #3672ae;
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 12%;
    height: 15%;
}

button:hover {
    transition: 0.9s ease;
    background-color: #502481;
    box-shadow: 5px 5px 0px #2a3646
}
.recupera{
    box-shadow: 20px 16px 30px 30px #0000008c;
    border-radius: 15px;
    h4{
        color: #502481;
        font-weight: bold;
        text-shadow: 1px 1px 2px #2a3646;
    }
    .inputs span{
        color: #000000;
    }
    button{
        border: 2px solid #502481;
        border-radius: 15px;
        margin: 2%;
    }
    .botones{
        display: inline-flex;
        margin-left: 55%;
    }
    .aceptar{
        background-color: #9149e2;
        color: #fff;
    }
    .aceptar:hover{
        background-color: #502481;
    }
    #cancelarR{
        color: #502481;
    }
    #cancelarR:hover{
        color: #ffffff;
        background-color: #ff4242;
    }
    .inputs input{
        background-color: #fff;
        text-shadow: none;
        border: 1px solid #8e8c8c;
    }
    .inputs span{
        font-weight: normal;
    }
    .inputs input:focus+span,
    .inputs input:valid+span {
        color: #502481;
        background-color: #fff;
        font-size: 1em;
        padding: 0 2% 0 2%;
        margin-top: 6%;
        margin-left: 5%;
        text-shadow: none;
    }
}
.dots {
    text-align: center;
}

.dot {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 10px 2px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #442656;
}
.tarjeta {
    border-radius: 10px;
    width: 58vh;
    height: auto;
    box-shadow: 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    float: right;
}
.iniciarSesion .tarjeta{
    margin-top: -4.2vh;
    width: 52vh;
    height: auto;
}
.iniciarSesion .form{
    padding: 1.3em;
    padding-top: 4%;
    padding-bottom: 4%;
}
.iniciarSesion button{
    margin-top: 1%;
}
.iniciarSesion .noTienesCuenta{
    margin-top: 1%;
}
.iniciarSesion .label{
    margin-top: -14vh;
    margin-left: 6vh;
}
.tarjeta::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #c9b0ff4f;
    border-radius: 8px;
}


h2 {
    color: rgb(255, 255, 255);
    z-index: 2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

.form {
    padding: 2em;
    transition: .4s ease-in-out;
  }
  
  .form:hover {
    transform: translateX(-0.5em) translateY(-0.5em);
    border: 1px solid #535353;
    box-shadow: 10px 10px 0px #2a3646;
  }
.inputs {
    margin: 5%;
    position: relative;
    transition: .4s ease-in-out;

}
.inputs:hover {
    outline: none;
    border-radius: 10px;
    box-shadow: 6px 6px 0px #2a3646
  }
.inputs input {
    padding: 4% 5%;
    outline: none;
    border: 1px solid #3672ae;
    border-radius: 10px;
    background-color: #f1f1f1;
    color: #333;
    font-size: 1em;
    font-weight: 550;
    transition: 0.4s ease-in-out;
    box-shadow: 0 0 0 5px transparent;
    width: 100%;
}

.inputs input:hover,
.inputs input:focus {
    box-shadow: 0 0 0 2px #502481;
}

.inputs span {
    position: absolute;
    left: 0;
    top: 0;
    padding: 4% 5%;
    color: #3672ae;
    font-size: 1em;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    pointer-events: none;
}

.inputs input:focus+span,
.inputs input:valid+span {
    transform: translateY(-40px) translateX(-5px) scale(0.95);
    transition: 0.3s ease-in-out;
    color: #fff;
    font-size: 1.4em;
    text-shadow: 1px 1px 1px black;
}

/* Media Queries para hacer el diseño responsivo */

/* Pantallas medianas (tablets) */

@media (max-width: 480px) {
    .contenido{
        display: block;
    }
    .logo {
        justify-content: center;
        display: block;
        margin: 0 auto;
        margin-top: 13%;
        width: 45%;
    }

    .tarjeta {
        width: 80vw;
        height: auto;
        margin: 20.5% 5%;
    }
    .iniciarSesion .tarjeta{
        margin-top: 21%;
        width: 30vh;
        height: auto;
    }
    .iniciarSesion{
        margin-right: 10%;
    }
    .iniciarSesion .tarjeta button{
        height: 10%;
    }
    .iniciarSesion .label{
        margin-top: 3%;
        margin-left: 23%;
        width: auto;
    }
    .label {
        margin-top: 5%;
        margin-left: 20vw;
        width: 50vw;
        height: auto;
        h2{
            font-size: 8vw;
        }
    }

    .formField {
        margin: 8px;
    }

    .formField input {
        font-size: 12px;
        padding: 8px 10px;
    }

    .olvidarContraseña,
    .noTienesCuenta {
        font-size: 0.9em;
        margin-top: 20px;
    }

    h2 {
        font-size: 1.2em;
    }
}
