.titulo-ayuda{
    font-size: 20px !important; /* Tamaño de la fuente */
    font-weight: bold; /* Texto en negrita */
    color: black; /* Color del texto */
    background-color: white; /* Fondo  */
    border: 3px solid #000000; /* Borde azul oscuro */
    border-radius: 20px; /* Esquinas redondeadas */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Centra el texto*/
    margin: 0 auto;
    
}

.salir-ayuda{
    height: 50px;
    position: absolute;
    margin-top: -70px;
    left: 93%;
    

}

.atras-ayuda{
    font-size: 18px;
    font-weight: bold;
    color: #ffff;
    background-color: red;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    width: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 40px;

}

.imgAyuda{
    height: 35%;
    width: 35%;
}

.imgAyuda2{
    margin-top: 10px;
    width: 120px;
    height: 175px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.imgAyuda:hover{
    transform: scale(1.05);
}

.fondo-ayuda{
    background-color: #704fa0;
    border: 10px solid #d1d1d1;
    border-radius: 40px ;
    position: relative;
}
.texto{
    flex-wrap: wrap;
    font-size: 16px ;
    font-family: Arial, Helvetica, sans-serif ;
    color: #ffff;
}

#exampleModal-ayuda .modal-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.contenedor-imgAyuda{
    
    display: flex;
    justify-content: center; /* Centra las imágenes horizontalmente */
    
    
}

@media (max-width:576px){

    #exampleModal-ayuda .modal-dialog{
        width: 90%;
        
        margin: auto;
    }

    

    .titulo-ayuda{
        font-size: 20px;
      
        
    }

    .texto{
        font-size: 15px;
    }

    

    
   .imgAyuda2{
        width: 100px;
        height: 150px;
   }
   .atras-ayuda{
    font-size: 15px;
   }
}



