.titulo-tienda{
    font-size: 20px !important; /* Tamaño de la fuente */
    font-weight: bold; /* Texto en negrita */
    color: black; /* Color del texto */
    background-color: white; /* Fondo  */
    border: 3px solid #000000; /* Borde azul oscuro */
    border-radius: 20px; /* Esquinas redondeadas */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Centra el texto*/
    margin: 0 auto;
    position: relative;
    left: 50px;
}

.fondo-tienda{
    background-image: url(../img/fondoTienda/fondoespacial.jpg);
    border: 10px solid #d1d1d1;
    border-radius: 40px ;
    position: relative;
    background-size: cover; /* Asegura que la imagen cubra todo el modal */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}
   
.imgTienda{

    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: transform 0.3s;
    text-align: center;
    animation: pulse 2s infinite;
    position: relative;
    left: 10px;
}

@keyframes pulse {

0% {
    transform: scale(1);
    opacity: 1;
}

50% {
    transform: scale(1.1);
    opacity: 0.7;
}

100% {
    transform: scale(1);
    opacity: 1;
}
}
    
.imgTiendaF{
    
    width: 150px;
    height: 100px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: transform 0.3s;
    text-align: center;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
    transform: scale(1);
    opacity: 1;
}
50% {
    transform: scale(1.1);
    opacity: 0.7;
}
100% {
    transform: scale(1);
    opacity: 1;
}
}

/* Estilos del letrero de madera */

.wooden-sign {
    background: linear-gradient(135deg, #682a9b, #b487de); /* Gradiesnte de madera */
    border: 5px solid #2e1149; /* Borde de madera más oscuro */
    box-shadow: 14px 12px 18px #2e1149;
    border-radius: 20px;
    padding: 3px;
    width: 200px;
    height: 50px;
    position: relative;
    text-align: center;
    
}

.wooden-sign2 {
    background: linear-gradient(135deg, #682a9b, #b487de); /* Gradiesnte de madera */
    border: 5px solid #2e1149; /* Borde de madera más oscuro */
    box-shadow: 14px 12px 18px #2e1149;
    border-radius: 20px;
    padding: 3px;
    width: 200px;
    height: 50px;
    position: relative;
    left: 220px;
    margin-top: -48px;
    text-align: center;
    
}

/* Estilo del texto */

.sign-text {
    text-shadow: 1px 1px 5px #000;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    line-height: 1;
}

.sign-text2 {
    text-shadow: 1px 1px 5px #000;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    line-height: 1;
    position: relative;
    margin-top: 8px;
}


/* Estilos para cada elemento de número y diamante */
.number-item {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #000000;
    position: relative;
    left: 20px;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
    transform: scale(1);
    opacity: 1;
}
50% {
    transform: scale(1.1);
    opacity: 0.7;
}
100% {
    transform: scale(1);
    opacity: 1;
}
}


.number {
    margin-right: 10px; /* Espacio entre el número y el diamante */
    font-weight: bold;

}

/* Estilos del diamante */
.diamond {
    width: 20px;
    height: 20px;
    background-color: #d12a2a; /* Color del diamante */
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.text-po{
    align-items: center;
    position: relative;
    left: 10px;
    animation: pulse 2s infinite;
}

@keyframes pulse {
0% {
    transform: scale(1);
    opacity: 1;
}

50% {
    transform: scale(1.1);
    opacity: 0.7;
}

100% {
    transform: scale(1);
    opacity: 1;
}
}


.number-item2 {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #000000;
    position: relative;
    left: 60px;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
    transform: scale(1);
    opacity: 1;
}
50% {
    transform: scale(1.1);
    opacity: 0.7;
}
100% {
    transform: scale(1);
    opacity: 1;
}
}


.buy-btn2 {
    background-color: #4143cc;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    position: relative;
    left: 30px;
}

.number-item3 {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #ffffff;
    position: relative;
    left: 20px;
    text-align: center;
}
.icon-perfil{
    display: flex;
    text-align: center;
}


.division{
    border: 2px solid #111949;
    width: 130% !important;
    margin-bottom: auto;
    margin-top: auto;
}

.atras-comprar{
    font-size: 18px;
    font-weight: bold;
    color: #ffff;
    background-color: rgb(0, 255, 13);
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 5px 10px;  
    text-align: center;
    width: 100px;
    margin-left: 130px;
    margin-top: -50px;
    margin-bottom: 10px;
    height: 40px;

}

.atras-tienda{
    font-size: 18px;
    font-weight: bold;
    color: #ffff;
    background-color: red;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    width: 100px;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 40px;

}

.salir-tienda{
    height: 50px;
    position: absolute;
    margin-top: -40px;
    left: 92%;
    

}

.custom-alert {
    position: fixed;  /* Fija la posición de la alerta */
    top: 50%;         /* Centrado vertical */
    left: 50%;        /* Centrado horizontal */
    transform: translate(-50%, -50%); /* Centra el contenedor */
    background-color: #f8d7da; /* Color de fondo para el mensaje de error */
    color: #721c24; /* Color del texto */
    border: 1px solid #f5c6cb; /* Borde */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    z-index: 1000; /* Asegura que la alerta esté por encima de otros elementos */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para dar efecto de elevación */
}

#close-alert {
    background-color: #721c24; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados para el botón */
    padding: 5px 10px; /* Espaciado interno del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin-top: 10px; /* Espaciado superior del botón */
}

#close-alert:hover {
    background-color: #5a1c24; /* Color de fondo del botón al pasar el ratón */
}


.imgTienda3 {

    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    position: relative;
    left: 35px;
}

.titulo-perfil{
    font-size: 20px !important; /* Tamaño de la fuente */
    font-weight: bold; /* Texto en negrita */
    color: black; /* Color del texto */
    margin: 0 auto;
    position: relative;
    left: -55px;
}