#seguirJugando .modal-content{
    border-radius: 20px;
    border: 7px solid #aa00df;
    background: linear-gradient(#364399 20%, #7e2bfc);
    position: relative;
    
}
#seguirJugando .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#seguirJugando .modal-title {
    
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #213f92;
    border: 5px solid #aa00df;
    border-radius: 10px;
    padding: 5px 10px;
    color: #ffff;
    line-height: 25px;
    text-align: center;
    font-size: 25px;
    position: absolute;
    top: -40px;
    
    
}

.contenedor-SeguirJugando{
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-color: rgba(122, 134, 216, 0.5);
    border-radius: 10px;
    color: #ffff;
    font-size: 22px;
    padding: 30px 5px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    line-height: 20px;
    
}
.rubi-seguir{
    height: 22px;
}

#regresiva {
    font-size: 24px; 
    font-weight: bold; 
    text-align: center; 
    color: #fff;
}

.contenedor-botonSeguir {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 155px;
    
}

.botonSeguir{
    background-color: #6f4b4b;
    margin: 30px;
    padding: 5px 5px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    background: linear-gradient(#1c266a, #6003ef);
    
    
}




@media (max-width: 576px) {
    #seguirJugando .modal-dialog {
        width: 70%;
        margin: auto;
        
    }

    #seguirJugando .modal-title {
        font-size: 22px;
        width: 70%;
    }

    .contenedor-SeguirJugando{
        padding: 25px 5px;
        line-height: 25px;
        font-size: 20px;
    }
    .rubi-seguir{
        height: 20px;
    }
}
