/*ESTILOS TABLA PUNTUAION SOLO

*/

.contenedorTsolo{
    margin-top: 50px;
    position: relative;
    width: 381px;
    height: 304px;
    border: 7px solid #aa00df;
    border-radius: 20px;
    background: linear-gradient(#1c266a 70%, #6600fa);
    
}

.contenedorTsoloInterior{
    position: relative;
    width: 330px;
    height: 250px;
    margin: 5.5%;
    border-radius: 20px;
}

.tituloTsolo{
    
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #132556;
    position: absolute;
    color: #ffff;
    border: 5px solid #aa00df;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: -37px;
    margin-left: 100px;
}
.contenedor-estrellas{
    display: flex;
    justify-content: center;
    
}

.contenedor-estrellas:nth-child(1){
    transform: translateY(50px);
}

.star{
    margin: 5px;
}

.contenedor-estrellas .star:nth-child(2) {
    transform: translateY(-30px); 
}

.contenedor-puntaje{
    margin-top: 110px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
}
.estrella-puntaje{
    margin-top: -3px; 
    margin-left: 5px; 
    width: 40px;
    height: 35px;
}
.rubi-puntaje{
    margin-top: 3px; 
    margin-left: 5px; 
    width: 30px;
    height: 30px;
    
}
.puntaje-total{
    position: absolute;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    left: 133px;
}

.contenedor-info{
    position: relative;
    margin-top: 5px;
    font-size: 15px;
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding: 3px 8px;
    left: 39px;
    background-color: rgba(59, 73, 159, 0.7);
}

.contenedor-botonTsolo{
    position: absolute;
    display: flex;
    justify-content: center;
    left: 55px;
    margin-top: 273px;
    
}

.botonTsolo {
    font-family: 'Comic Sans MS', 'Arial', sans-serif; /* Fuente con estilo similar */
    font-size: 20px;
    color: #ffffff;
    background: linear-gradient(#1c266a, #6003ef); 
    border-radius: 30px; 
    padding: 5px 10px; 
    text-align: center;
    width: 120px;
    line-height: 18px;
    border: none;
}

/*ESTILOS TABLA MUltijugador







*/
#tablaMulti .modal-content{
    border-radius: 20px;
    border: 7px solid #aa00df;
    background: linear-gradient(#1c266a 20%, #6600fa);
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#tablaMulti .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#tablaMulti .modal-title {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #132556;
    border: 5px solid #aa00df;
    border-radius: 10px;
    padding: 10px 20px;
    color: #ffff;
    line-height: 25px;
    text-align: center;
    font-size: 35px;
    position: absolute;
    top: -30px;
    
}

.contenedor-tablaMulti{
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-image: url(\img\tablas\fondomulti.png);
    border-radius: 10px;
    color: #ffff;
    font-size: 22px;
    padding: 30px 5px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    line-height: 20px;
    position: relative;
    
}



.medalla{
    margin: 15px;
    height: 17%;
    width: 17%;
}
.medalla:nth-child(2) {
    transform: translateY(-60px); 
    
}

.contenedor-user{
    margin-top: -11%;
}
.foto-user{
    margin: 17px;
    height: 17%;
    width: 17%;
}
.foto-user:nth-child(2) {
    transform: translateY(-40px); 
    
}

.contenedor-userPunto{
    display: flex;
    justify-content: center;
    margin-top: -11%;

}

.userPunto{
    margin: 35px;
    font-size: 14px;
    line-height: 15px;
}
.userPunto:nth-child(2) {
    transform: translateY(-40px); 
    
}
.contenedor-infoMulti{
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 80%;
    font-size: 15px;
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding: 2px 8px;
    background-color: rgba(59, 73, 159, 0.8);
    margin: 2px;
    left: 9%;
}

.contenedor-botonSeguir1 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 91.5%;
    left: 22.5%;
    
}

.botonSeguir{
    background-color: #6f4b4b;
    margin: 30px;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    background: linear-gradient(#1c266a, #6003ef);
    
    
}




@media (max-width:576px){
    #tablaMulti .modal-title {
        font-size: 25px;
    }

    .contenedor-userPunto{
        margin-top: -45px;
    
    }

    .userPunto{
        margin: 30px;
        font-size: 12px;
        line-height: 12px;
    }
    .contenedor-infoMulti{
        font-size: 13px;
    }
    .contenedor-botonSeguir{
        left: 15%;
    }
}