.historio-modo{
    display: flex;
    justify-content: flex-end;
    height: 5vh;
    width: 100%;
    padding: 0% 2% 0% 0%;
}
.historico-solo{  
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center ;
    align-items: center ;
    background-color: rgb(147, 105, 226);
    border-top-left-radius: 10vh;
    border-bottom-left-radius:10vh;
    color: white;
    
}
.historico-multi{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center ;
    align-items: center ;
    background-color: white;
    border-top-right-radius: 10vh;
    border-bottom-right-radius:10vh;
 
}
.Tabla-cuerpo {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background: rgb(149, 182, 197);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    display:inline-table;
    color:rgb(255, 255, 255) ;
    text-shadow: 0px 0px 2px rgb(105, 105, 105);
    box-shadow: 0px 0px 5px white;
}
.tam{
  height: 49vh;
  overflow: auto;
  
}
/* Estilo para navegadores basados en Webkit (Chrome, Safari, Edge) */
.tam::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

.tam::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fad0c4, #fbc2eb);
  border-radius: 6px; /* Bordes redondeados */
  border: 2px solid #ffffff; /* Borde blanco alrededor del thumb */
}

.tam::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
}

.tam::-webkit-scrollbar-track {
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
  border-radius: 6px;
}

/* Estilo para Firefox */
.tam {
  scrollbar-width: thin;
  scrollbar-color: #fbc2eb #fdfbfb; /* thumb color / track color */
}


.Tabla-cuerpo:nth-child(2){
    display:none;
}
thead{
  border-bottom: 2px solid white;
  box-shadow: 0px 0px 2px  white;
}
  
  .Tabla-cuerpo th,
  .Tabla-cuerpo td {
    padding: 15px;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .encabezado-header {
    background-color: #0383d8;
    font-weight: bold;
  }
  

  .Tabla-cuerpo tbody tr:hover {
    background-color: #e9ecef;
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
    transition: background-position 0.5s ease-in-out;

  }
  .Tabla-cuerpo tbody tr:nth-child(1n) {
    background-color: #68a5fffd;
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
    transition: background-position 0.5s ease-in-out;
  }

  @keyframes moverColor {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -100% 0;
    }
  }
  
  .Tabla-cuerpo th, .Tabla-cuerpo td {
    position: relative;
  }

  .Tabla-cuerpo tbody tr td {
    position: relative;
    overflow: hidden;
  }
  
  .Tabla-cuerpo tbody tr td::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(233, 236, 239, 0.5);
    transition: left 0.3s;
    z-index: -1;
  }
  
  .Tabla-cuerpo tbody tr:hover td::before {
    left: 0;
  }

  