.contenedor-juego-objetos {
  display: flex;
  flex-direction: column;
  width: 87%;
}

.contenedor-imagen {
  position: relative;
  width: 100%; /* La imagen ocupará el 100% del contenedor padre */
  max-width: 750px; /* Limitar el tamaño máximo en pantallas grandes */
  height: auto;
  margin: 0 auto; /* Centrar la imagen en pantallas más grandes */
}
@keyframes aparecerDesdeIzquierda {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
#imagen-principal {
  animation: aparecerDesdeIzquierda 1s ease-out forwards;
}

.imagen-objeto {
  width: 100%; /* Imagen que se escala responsivamente */
  height: auto;
}
.dropzone {
  position: absolute;
  min-width: 30px;
  min-height: 30px;
  width: auto; /* Tamaño relativo para que se escale con la imagen */
  height: auto;
  border: 2px dashed #ffff;
}
/* .dropzone:nth-child(6){
    min-height: 60px;
  } */

.contenedor-objetos {
  display: flex;
  min-height: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  border: 1px dashed #fff;
  width: 100%;
  max-width: 750px;

  margin: 0 auto;
  backdrop-filter: blur(3px);
}

.arrastrable {
  margin: 8px;
  cursor: move;
  text-align: center;
}

/*Tamaños*/
#muñeco {
  width: 5%;
  height: auto;
}
#dropmuñeco {
  top: 11%; /* Porcentajes para que se ajusten en relación con la imagen */
  left: 26%;
}
#muñeco.objeto-cambiado {
  width: 40%;
  height: auto;
}

#pintura {
  width: 8%;
  height: auto;
}
#droppintura {
  top: 16.8%;
  left: 46%;
}
#pintura.objeto-cambiado {
  width: 38%;
  height: auto;
}

#audifono {
  width: 5%;
  height: auto;
}
#dropaudifono {
  top: 58%;
  left: 65%;
}
#audifono.objeto-cambiado {
  width: 35%;
  height: auto;
}

#cohete {
  width: 5%;
  height: auto;
}
#dropcohete {
  top: 11%;
  left: 70%;
}
#cohete.objeto-cambiado {
  width: 35%;
  height: auto;
}

#control {
  width: 8%;
  height: auto;
}
#dropcontrol {
  top: 52%;
  left: 32%;
}
#control.objeto-cambiado {
  width: 35%;
  height: auto;
}

/*Fin Tamaños*/

@media (max-width: 576px) {
  .dropzone {
    width: 7vw; /* Aumenta ligeramente el tamaño de la zona de caída */
    height: 7vw;
  }

  /* Asegurar que las posiciones relativas se mantengan */
  #dropmuñeco {
    top: 13.2%;
    left: 23.5%;
  }
  #muñeco.objeto-cambiado {
    width: 55%;
    height: auto;
  }

  #droppintura {
    top: 18.2%;
    left: 44.5%;
  }
  #pintura.objeto-cambiado {
    width: 72%;
    height: auto;
  }

  #dropaudifono {
    top: 58%;
    left: 65%;
  }
  #audifono.objeto-cambiado {
    width: 58%;
    height: auto;
  }

  #dropcohete {
    top: 12%;
    left: 68%;
  }
  #cohete.objeto-cambiado {
    width: 70%;
    height: auto;
  }

  #dropcontrol {
    top: 53%;
    left: 31%;
  }
  #control.objeto-cambiado {
    width: 70%;
    height: auto;
  }


  /* Ajustar el tamaño de los objetos arrastrables */
  .arrastrable {
    width: 10vw;
    height: auto;
  }

  /* Ajuste cuando los objetos cambian al ser arrastrados */
}
