/* body{
  cursor: url('../img/flecha.png'), auto;
  height: 100vh;
} */
body {
  background-image: url('../img/fondo.gif');
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: cursive;
  overflow: hidden;
  
}
.modal{
  background-color: #0044ff0a;
}
#armarArma .modal-content {
  position: relative;
  border-radius: 40px;
  border: 4px solid #00374db4;
  outline: 2px solid #bae0f7;
  background-image: url("../img/fondo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 2rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 65vh;
  /* width: 65vh; */
  margin: 0;
  touch-action: none;
  box-shadow: 0 0 20px #000;
  transition: transform 0.3s;
}
#armarArma .modal-content:hover{
  transform: scale(1.03);
}
.holis {
  display: flex;

  align-items: center;
  flex-direction: column;
}
.contenedor-imagen img {
  position: relative;
  top: 30%;
  height: 30vh;
  object-fit: cover;
  user-select: none; /* Evita la selección de la imagen */
  pointer-events: none;
}

/* .contenedor-armar {
  width: 30vw;
  height: auto;
  margin: 0 auto;
} */
.titulo-arma {
  font-size: 5vh;
  margin: 0 auto;
  color: #ffff;
  background: linear-gradient(135deg, #000020, #001a4d);
  border: 4px solid #ffff;
  border-radius: 20px;
  padding: 0.2rem 0.5rem;
  position: absolute;
  top: 5%;
}

#verificar {
  font-size: 3vh;
  background: linear-gradient(135deg, #000020, #001a4d); /* Degradado verde */

  border: none;
  border-radius: 20px; /* Bordes redondeados */
  color: white; /* Color del texto */
  font-family: Arial, sans-serif; /* Fuente del texto */
  font-weight: bold; /* Texto en negrita */
  padding: 5px 5px; /* Espaciado interno del botón */
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra */
  cursor: pointer;
}
#verificar:hover {
  background: linear-gradient(
    to bottom,
    #001a4d,
    #000020
  ); /* Invertir degradado al hacer hover */
}
.dropzone {
  width: 5vh; /* Ajusta el tamaño de las dropzones según tus objetos */
  height: 5vh;
  /* border: 2px dashed #fff; */
  position: absolute;
  z-index: 0; /* Para que estén encima de la imagen principal */
}
.posicion1 {
  left: 74%;
  top: 35%;
}
.posicion2 {
  left: 28%;
  top: 37%;
}
.dropzone.posicion2 {
  height: 8vh;
}
.posicion3 {
  left: 52%;
  top: 35%;
}
.dropzone.posicion3 {
  width: 10vh;
}
.posicion4 {
  left: 14%;
  top: 35%;
}
.posicion5 {
  left: 38%;
  top: 25%;
}
.arrastable {
  position: absolute;
  cursor: pointer;
  margin: 5px;
  object-fit: cover;
  z-index: 1;
}
.objeto1 {
  height: 7vh;
}
.objeto2 {
  height: 15vh;
}
.objeto3 {
  height: 10.8vh;
}
.objeto4 {
  height: 8vh;
}
.objeto5 {
  height: 3vh;
}

.dropzone-highlight {
  background-color: rgba(
    0,
    255,
    0,
    0.5
  ); /* Color de fondo verde cuando hay un objeto sobre la dropzone */
}

/* Clase para indicar que el objeto puede ser soltado */
.can-drop {
  border: 2px solid #00ff00; /* Bordes verdes cuando el objeto puede ser soltado */
}

.dropzone-highlight-temp {
  background-color: rgba(
    255,
    255,
    0,
    0.5
  ); /* Color amarillo semitransparente */
}

.correcto {
  border: 2px solid green;
}

.incorrecto {
  border: 2px solid red;
}
.game-title {
  font-family: 'Arial', sans-serif;
  font-size: 8.5vh;
  font-weight: bold;
  color: #d4e8ff;
  /* Color azul */
  text-shadow:
      0 0 5px rgba(255, 255, 255, 0.6),
      0 0 10px rgba(255, 255, 255, 0.5),
      0 0 15px rgba(255, 255, 0, 0.8),
      0 0 3px #000;

  /* Efecto de resplandor */
  animation: sparkle 1.5s infinite;
  /* Animación de chispa */
  /* display: flex;
  justify-content: center; */
}

@keyframes sparkle {

  0%,
  100% {
      text-shadow:
          0 0 5px rgba(255, 255, 255, 0.6),
          0 0 10px rgba(255, 255, 255, 0.5),
          0 0 15px rgba(255, 255, 0, 0.8),
          0 0 3px #000;

      /* Resplandor normal */
  }

  50% {
      text-shadow:
          0 0 10px rgba(255, 255, 255, 1),
          0 0 20px rgba(255, 255, 255, 0.8),
          0 0 30px rgba(255, 255, 0, 1),
          0 0 3px #000;

      /* Resplandor más fuerte */
  }
}
button{
  border: none;
  background: none;
  transform: scale(1.1);

  img{
    width: 25vh;
  }
}
.contenido{
  display: flex;
  justify-content: center;
  align-items: center;
height: 100vh;
flex-direction: column;
}

button#space-btn {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border: 0;
  outline: 0;
  border-radius: 3vh;
  background: #03001e;
  background: linear-gradient(100deg, #ffc578ab, #53399b);
  box-shadow: 0 0 10px #251f02, 0 0 50px #040118 ;
  cursor: url('../img/iconos/cursor.cur'), auto;
  border: 2px solid #221974;
  cursor: pointer;
}

.btn-container {
  width: 30vh;
  height: 60px;
  position: relative;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-container::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 20px;
  z-index: -1;
  background: #03001e;
  background: linear-gradient(80deg, #7303c0, #03001e);
  filter: blur(20px);
  opacity: 0;
}

.btn-container:hover {
  transform: scale(1.1);
  transition: all 0.6s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.btn-container:hover:after {
  transition: all 0.6s cubic-bezier(0.15, 0.83, 0.66, 1);
  opacity: 1;
}

.btn-container:active {
  transform: scale(1);
}

.btn-container:active:after {
  opacity: 0;
}

button span {
  color: white;
  font-weight: 700;
  font-size: 5vh;
  text-shadow: 0 0 7px #000;
}

button#space-btn div.star {
  width: 1px;
  height: 1px;
  background-color: white;
  border-radius: 50%;
  animation: blink 2s cubic-bezier(0.15, 0.83, 0.66, 1) infinite;
}

button#space-btn div.shooting-star {
  width: 80px;
  height: 1px;
  position: absolute;
  background: linear-gradient(80deg, #ffffffff, #ffffff00);
  border-radius: 50%;
  transform: rotate(-40deg);
  opacity: 0;
}

button#space-btn div.shooting-star-1 {
  animation: fallingStar1 4s 6s cubic-bezier(0.15, 0.83, 0.66, 1) infinite;
}

button#space-btn div.shooting-star-2 {
  animation: fallingStar2 2s 10s cubic-bezier(0.15, 0.83, 0.66, 1) infinite;
}

button#space-btn div.shooting-star-3 {
  animation: fallingStar3 8s 20s cubic-bezier(0.15, 0.83, 0.66, 1) infinite;
}

button#space-btn div.shooting-star-4 {
  animation: fallingStar4 4s 6s cubic-bezier(0.15, 0.83, 0.66, 1) infinite;
}

@keyframes blink {
  0% {
    box-shadow: 0 0 10px 0 white;
  }

  50% {
    box-shadow: 0 0 10px 2px white;
  }

  100% {
    box-shadow: 0 0 10px 0 white;
  }
}

@keyframes fallingStar1 {
  0% {
    top: -10px;
    left: 220px;
    opacity: 1;
  }

  100% {
    top: 200px;
    left: -20px;
    opacity: 1;
  }
}

@keyframes fallingStar2 {
  0% {
    top: -10px;
    left: 150px;
    opacity: 1;
  }

  100% {
    top: 200px;
    left: -90px;
    opacity: 1;
  }
}

@keyframes fallingStar3 {
  0% {
    top: -10px;
    left: 80px;
    opacity: 1;
  }

  100% {
    top: 200px;
    left: -160px;
    opacity: 1;
  }
}

@keyframes fallingStar4 {
  0% {
    top: -10px;
    left: 0px;
    opacity: 1;
  }

  100% {
    top: 200px;
    left: -240px;
    opacity: 1;
  }
}